<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks for signing up to my website <%= @user.email %></h1>
    <p>Now sign in and get started!</p>
  </body>
</html>
 
