<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks for signing up!</h1>
    <br>
    <p>Your login email address is: <%= @user.email %></p>
    <br>
    <p>Now that your'e part of the community you can quickly find cars and even list your own.</p>
    <p>Link to website: https://rentmycar.herokuapp.com/</p>
    <br>
    <br>
    <p>Hope to see you back soon.</p>
    <br>
    <p>Kind regards,</p>
    <p>The Rent-my-cat development team</p>

  </body>
</html>
