<div class="m-2 m-lg-5">
  <div class="mb-5" style="max-width: 500px;">

    <% if @active %>

      <h3>Your active bookings</h3>

      <% @bookings.each do |booking| %>
        <%= render 'active_bookings', {booking: booking, guest: @guest} %>
      <% end %>

      <%= link_to 'previous bookings', bookings_previous_bookings_path %>

    <% else %>

      <h3>Your previous bookings</h3>

      <% @bookings.each do |booking| %>
        <%= render 'non_active_bookings', {booking: booking, guest: @guest} %>
      <% end %>

      <%= link_to 'back', bookings_owner_bookings_path %>


    <% end %>

  </div>
</div>
