<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <!-- <%= image_tag 'home.jpeg', class: "background-image" %> -->

    <div class="w-100 h-100 d-flex justify-content-around align-items-center">
      <%= link_to 'Find a car', cars_path,
      class: "btn btn-lg btn-outline-dark d-flex align-items-center", style: "width: 140px; height: 60px" %>
      <%= link_to 'List my car', new_car_path,
      class: "btn btn-lg btn-outline-dark d-flex align-items-center", style: "width: 140px; height: 60px" %>

  </body>
</html>
