<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <!-- <%= image_tag('home.jpeg') %> -->

    <div class="home-button">
      <br>
      <%= link_to('Find a car', cars_path) %>
      <br>
      <%= link_to('List my car', new_car_path) %>
    </div>

  </body>
</html>
