
<div class="amount">
  <h1>Payment confirmation</h1>
  <p>Your card has been charged with <%= number_to_currency(@amount) %></p>
</div>

<%= link_to "Show booking", booking_show_path(@booking), class: "btn btn-primary", style: "color: white" %>
